<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.javierpalacio.javipaurfit" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="T5RZzjjfyEsgqCz70SjvktgVgbhQKkkYna4iCoPk" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="r5fGX460ZEB116JlQyeuMspk0D2jptq4nMX7soni" />

        <activity android:name=".MainActivity" >
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google."
            android:value="@integer/google_play_services_version" />
        </application>

</manifest>
